<div class="node--article">

    <div class="top-image">
        <div class="top-image-inner" style="background-image: url({{ content.field_main_image.0['#markup'] }})">
            <div class="container h100">
                <div class="row h100">
                </div>
            </div>
        </div>
    </div>
    <div class="container main-title-container">
        <div class="row">
            <div class="col-md-8 offset-md-2 pt-4">
                <h1 class="main-title pt-4">{{ node.title.value }}</h1>
            </div>
        </div>
    </div>

    <div class="top-tags mb-6">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for key, tag in content.field_tags %}
                        {% if key matches '/^\\d+$/' %}   {# integers only #}
                            <span class="top-tag">{{ tag['#title'] }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="intro-section mb-10">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                    <div class="intro-section-title-wrapper h2-wrapper mb-3 text-center">
                        <h2 class="intro-section-title">{{ node.getCreatedTime|date('d/m/Y') }}</h2>
                    </div>
                    {{ content.field_intro_text.0 }}
                </div>
            </div>
        </div>
    </div>

    {{ content.field_page_parts }}

    <div class="see-all">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {# TO DO: link vervolledigen #}
                    <a href="{{ base_path ~ directory }}/../../blog" class="btn see-all-btn">
                        <span>
                            <span>
                                <span>See all posts</span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>