<a href="{{ url }}" class="work-teaser-slider">
    <div class="work-teaser-slider-inner h-100 text-center">
        <div class="work-teaser-image">
            <div class="work-teaser-image-outer">
                <div class="work-teaser-image-inner" style="background-image: url({{ content.field_main_image.0['#markup'] }})">

                    <span class="work-teaser-slider-tags">
                        {% for key, tag in content.field_tags %}
                            {% if key matches '/^\\d+$/' %}   {# integers only #}
                                {% if key == '0' %}
                                    {{ tag['#title'] }}
                                {% else %}
                                    / {{ tag['#title'] }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </div>
        </div>
        <div class="container h100">
            <div class="row h100">
                <div class="col-10 offset-1 work-teaser-title-wrapper">
                    <p class="work-teaser-textcontent">{{ node.title.value }}</p>
                </div>
            </div>
        </div>
    </div>
</a>

