<div class="col-md-9 offset-md-custom mb-4">
    <a href="{{ url }}" class="blog-teaser">
        <div class="blog-teaser-inner">
            <p class="blog-teaser-title mb-0">{{ node.title.value }}</p>
            <p class="blog-teaser-date">{{ node.getCreatedTime|date('d/m/Y') }}</p>
            <div class="blog-teaser-bottom">
                <div class="blog-teaser-image-outer">
                    <div class="blog-teaser-image-inner" style="background-image: url({{ content.field_main_image.0['#markup'] }})"></div>
                </div>
                <div class="blog-teaser-bottom-right">
                    <div class="blog-teaser-text">{{ content.field_teaser_text.0 }}</div>
                    <h3 class="blog-teaser-linktext">Read more</h3>
                </div>
            </div>
        </div>
    </a>
</div>

